<div class="container" style="text-align: center;">
    <div style="text-align: center">
        <h1 style="margin-top: 20px">Welcome to ReadIt!</h1>
    </div>
    <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()" style="margin-top: 20px;">
        <p>
            Please input your username: 
            <input formControlName="name" id="name" placeholder="Name"/>
        </p>
        <p style="margin-top: 20px;">
            Please input your password: 
            <input type="password" formControlName="password" id="password" placeholder="Password" />
        </p>
        <p>
            <button class="btn btn-primary" type="submit" >Login</button>
        </p>
    </form>
    <a routerLink="/register">Not a User? Please register here!</a>
</div>