<div class="container border book-profile-page" *ngIf="listofBooks">
    <div class="container back-button">
        <a routerLink="/displayBook">← Back</a>
    </div>
    <div class="container book-information">
        <div class="aligned">
            <img src="https://m.media-amazon.com/images/I/518ljr0qusL._AC_SY580_.jpg" alt="">
            <ul class="no-bullet">
                <li>Name: {{listofBooks.name}}</li>
                <li>Author: {{listofBooks.author}}</li>
            </ul>
        </div>
    </div>
    <div class="container book-synopsis">
        <div class="synopsis">Synopsis</div>
        <div>{{listofBooks.synopsis}}</div>
    </div>
    <div class="container book-comments">
        <form [formGroup]="addComment">
            <div class="comments">Comments: </div>
            <div *ngFor="let c of comment">
                <div>{{c.comment}}</div>
            </div>
            <div class="addComment">
                <input class="input" placeholder="Add a Comment" formControlName="comment" id="comment">
                <button type="submit" (click)="onSubmit()">Post</button>
            </div>
        </form>
    </div>
</div>