<div style="text-align: center">
    <h1 style="margin-top: 10px">List of Books</h1>
    <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Author</th>
            <th>Synopsis</th>
            <th>View</th>
            <th *ngIf="AuthorAutherization()">Update</th>
            <th *ngIf="AuthorAutherization()">Delete</th>
        </tr>
    </thead>
    <tbody *ngFor="let b of listofBooks">
        <tr *ngIf="searchText === '' || b.name.toLowerCase().includes(searchText)">
            <td>{{b.name}}</td>
            <td>{{b.author}}</td>
            <td>{{b.synopsis}}</td>
            <td><button [routerLink]="['/bookDetails', b._id]">View</button></td>
            <td *ngIf="AuthorAutherization()"><button (click)="updateBook(b._id)">Update</button></td>
            <td *ngIf="AuthorAutherization()"><button (click)="deleteBook(b._id)">Delete</button></td>
        </tr>
    </tbody>
</table>

<div class="container">
    <div class="center" *ngIf="AuthorAutherization()">
        <button class="nav-link" routerLink="/addBook" routerLinkActive="active">Add your book here!</button>
    </div>
</div>