<div class="container" style="margin-top: 20px; text-align: center;">
    <h1>Register!</h1>
    <form [formGroup]="registerForm" novalidate (ngSubmit)="onSubmit()">
        <p style="margin-top: 20px;">
            Please state your username: 
            <input formControlName="name" id="name" placeholder="Name" />
        </p>
        <p>
            Please state your password: 
            <input formControlName="password" id="password" type="password" placeholder="Password" />
        </p>
        <p>
            Pick a role:
        </p>
        <p>
            <input formControlName="role" id="role" placeholder="user/author"/>
        </p>
        <p><button class="btn btn-primary" type="submit">Register</button></p>
    </form>
    <a routerLink="/login">Are you a registered user? Please login here!</a>
</div>
